@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --animation-speed: 2s;
    --music-border-radius: 0.5rem;
    --music-text-color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

th, td {
    text-align: left;
    padding: 10px; 
    border-bottom: 1px solid #eee; 
    font-size: 14px;
}

h2, h3 {
    color: #0D92F4;
}

h3.heading-table {
    color: white;
    margin-bottom: 10px;
    margin-top: -25px;
}

.toggle-btn h4 {
    font-size: 18px;
}

table {
    border-spacing: 10px 20px;
    width: 100%;
    border-collapse: collapse;
}

.toggle-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    padding: 10px 0;
    cursor: pointer;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s
}

.toggle-btn.active .caret {
    transform: rotate(180deg);
}

.info-box {
    background-color: white; 
    display: none;
    padding: 15px; 
    border: 1px solid #ddd;
    border-radius: 5px; 
    margin-bottom: 15px; 
}

.info-box.hidden {
    display: none;
}
  
.info-box.visible {
    display: block;
}

footer {
    padding: 20px;
    color: white;
    background-color: #0D92F4;
    text-align: center;
    font-weight: bold;
}

.nav-bar .nav-links li a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 50px;
    padding: 10px 20px;
    transition: 0.2s ease-in;
    font-weight: 600;
}

.nav-links li a:hover {
    color: #0D92F4;
    background: white;
}


.profile header {
    text-align: center;
    padding: 5px;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    max-width: 100%;
}

.wrapper figure {
    overflow: hidden;
}

.wrapper figure img {
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    cursor: pointer;
}

.wrapper figure img:hover {
    transform: scale(1.2);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

/* #content .card:hover, #content .card:hover h2, #content .card:hover h3 {
    background-color: #0D92F4;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in;
} */

.jumbotron {
    font-size: 20px;
    padding: 20px;
    background-color: #006BFF;
    text-align: center;
    color: white;
    margin: 0;
}

.jumbotron h4 {
    margin: 0;
}

.nav-bar.active {
    height: 350px;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav li {
    list-style-type: none;
}

nav {
    background-color: #0D92F4;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 70px;
}

.hamburger {
    display: none;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1.5;
}

article.profile {
    background-color: #0D92F4;
    
}

article p, h2 {
    margin-bottom: 1rem; /* Jarak antar paragraf */
}

article p:last-child {
    margin-bottom: 0; /* Hilangkan margin bawah pada paragraf terakhir */
}

.heading-aside {
    margin-bottom: 10px; 
    color: white;
}

header {
    display: inline;
    margin: 0;
    padding: 0;
   
}

.music-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 200px;
    padding: 1rem;
    user-select: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.5s ease;
}

.music-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transform:scale(1.02);
}

.music-card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--music-border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.wrapper-music {
    overflow: hidden;
}

.wrapper-music img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.music-card:hover .wrapper-music img {
    transform: scale(1.2);
}

.info-music {
    margin-top: 0.5rem;
}

.info-music h5 {
    font-size: 1.05rem;
}

.info-music p {
    font-size: 0.9rem;
}

.music {
    flex: 1;
    display: flex;
    gap: 2rem;
}

.music a {
    text-decoration: none;
    color: inherit;
}

.list-item {
    display: flex;
    align-items: flex-start; 
    gap: 10px; 
    margin-bottom: 1rem;
  }
  
.list-item i {
    font-size: 1.5rem; 
    color: #0D92F4;
}
  
.list-item p {
    margin: 0;
}
  
.wrapper figcaption {
    text-align: center;
}
  
.wrapper figcaption a {
    color: gray;
    text-decoration: none; 
}
  
.wrapper figcaption a:hover {
    text-decoration: underline; 
}

h2 {
    border-bottom: 1px solid #D9D9D9;
}
  
@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: stretch;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
        
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .hamburger.active .line:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
    }
      
    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }
      
    .hamburger.active .line:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 50%;
    }

    .nav-bar {
        position: absolute;
        left: 0;
        right: 0;
        background: #0D92F4;
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-links {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .jumbotron {
        margin: 50px 0 0 0;
    }

    .nav-bar.active {
        height: 300px;
    }
}